In [1]:
import pandas as pd

data_main = pd.read_csv('D:/pyhton_practice/TeddyCup_C/data/originMainPage.csv')
data_public = pd.read_csv('D:/pyhton_practice/TeddyCup_C/data/originInternalPublicPage.csv')
data_detail = pd.read_csv('D:/pyhton_practice/TeddyCup_C/data/originInternalDetailPage.csv')

d:\anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
d:\anaconda\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
d:\anaconda\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
d:\anaconda\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
# 使用 range() 函数生成序号并赋值给 '序号' 列
data_main.insert(0, '序号', range(1, len(data_main)+1))
data_detail.insert(0, '序号', range(1, len(data_detail)+1))

In [3]:
data_main

,序号,id,publishTime,updateTime,willNature,positionName,minimumWage,maximumWage,payMethod,exp,...,cityCode,regionCode,detailedAddress,remarks,keywords,enterpriseExtId,shortName,industry,econKind,personScope
0,1,1648527394191052802,2023-04-19 11:25,2023-04-19 11:22,2,售前技术支持,12000,20000,1,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,NaN,NaN,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
1,2,1648527394191052801,2023-04-19 11:26,2023-04-19 11:22,2,数据安全高级经理,16000,26000,1,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,NaN,NaN,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
2,3,1648527394191052800,2023-04-19 11:27,2023-04-19 11:22,2,数据安全项目经理,15000,25000,1,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,NaN,NaN,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
3,4,1648165203084447745,2023-04-18 11:35,2023-04-18 11:23,2,数据挖掘工程师,5000,8000,1,不限,...,370800.0,370811.0,山东省济宁市高新区洸河街道百丰大厦803,NaN,NaN,1648164336000176128,森羽网络,"[""互联网""]",民营公司,50-100人
4,5,1648165203084447744,NaN,2023-04-18 11:23,2,数据管理,3500,6000,1,不限,...,370800.0,370811.0,山东省济宁市高新区洸河街道百丰大厦803,NaN,NaN,1648164336000176128,森羽网络,"[""互联网""]",民营公司,50-100人
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,1570,1463027273123889152,2021-11-23 15:24,2021-11-23 15:24,2,需求分析师,8000,12000,1,经验不限,...,440100.0,440106.0,元岗路310号自编5栋,0,NaN,1463024455260438528,中数通,"[""数据服务"",""互联网""]",合资,500-1000人
1570,1571,1463031842339946496,2021-11-23 15:24,2021-11-23 15:24,2,前端开发工程师,8000,12000,1,经验不限,...,440100.0,440106.0,元岗路310号自编5栋,0,NaN,1463024455260438528,中数通,"[""数据服务"",""互联网""]",合资,500-1000人
1571,1572,1374181407047421952,2021-11-23 10:34,2021-11-23 10:34,2,软件测试工程师,6000,9000,1,1-3年,...,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,NaN,1374177040332361728,泰迪科技,"[""互联网"",""计算机软件""]",民营公司,150-500人
1572,1573,1374177417123467264,2021-11-23 10:33,2021-11-23 10:33,2,新媒体运营助理,5000,9000,1,1-3年,...,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,NaN,1374177040332361728,泰迪科技,"[""互联网"",""计算机软件""]",民营公司,150-500人
1573,1574,1374177686322286592,2021-11-23 10:32,2021-11-23 10:32,2,数据产品经理,150000,300000,0,3-5年,...,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,NaN,1374177040332361728,泰迪科技,"[""互联网"",""计算机软件""]",民营公司,150-500人

In [4]:
data_main.isnull().sum()

序号                            0
id                            0
publishTime                1338
updateTime                    0
willNature                    0
positionName                  0
minimumWage                   0
maximumWage                   0
payMethod                     0
exp                           0
educationalRequirements       0
count                         0
unkid                         0
enterpriseId                  0
provinceCode               1372
cityCode                   1372
regionCode                 1372
detailedAddress               0
remarks                    1422
keywords                   1574
enterpriseExtId               0
shortName                     0
industry                      0
econKind                      0
personScope                   0
dtype: int64

In [5]:
data_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574 entries, 0 to 1573
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   序号                       1574 non-null   int64
 1   id                       1574 non-null   int64
 2   publishTime              236 non-null    object
 3   updateTime               1574 non-null   object
 4   willNature               1574 non-null   int64
 5   positionName             1574 non-null   object
 6   minimumWage              1574 non-null   int64
 7   maximumWage              1574 non-null   int64
 8   payMethod                1574 non-null   int64
 9   exp                      1574 non-null   object
 10  educationalRequirements  1574 non-null   int64
 11  count                    1574 non-null   int64
 12  unkid                    1574 non-null   int64
 13  enterpriseId             1574 non-null   int64
 14  provinceCode             202 non-null    float64
 15  cityCode                 202 non-null    float64
 16  regionCode               202 non-null    float64
 17  detailedAddress          1574 non-null   object
 18  remarks                  152 non-null    object
 19  keywords                 0 non-null      float64
 20  enterpriseExtId          1574 non-null   int64
 21  shortName                1574 non-null   object
 22  industry                 1574 non-null   object
 23  econKind                 1574 non-null   object
 24  personScope              1574 non-null   object
dtypes: float64(4), int64(11), object(10)
memory usage: 307.5+ KB

In [6]:
data_public

,id,enterpriseId,publishTime,updateTime,willNature,positionName,minimumWage,maximumWage,payMethod,exp,...,unkid,enterpriseId.1,provinceCode,cityCode,regionCode,detailedAddress,remarks,keywords,skillList,resumeCount
0,1648527394191052802,1648526958960709632,2023-04-19 11:25,2023-04-19 11:22,2,售前技术支持,12000,20000,1,不限,...,1648526958973292544,1648526958960709632,440000.0,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,NaN,NaN,"网络安全,云计算",0
1,1648527394191052801,1648526958960709632,2023-04-19 11:26,2023-04-19 11:22,2,数据安全高级经理,16000,26000,1,不限,...,1648526958973292544,1648526958960709632,440000.0,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,NaN,NaN,"数据安全,数据可视化,数据挖掘",0
2,1648527394191052800,1648526958960709632,2023-04-19 11:27,2023-04-19 11:22,2,数据安全项目经理,15000,25000,1,不限,...,1648526958973292544,1648526958960709632,440000.0,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,NaN,NaN,"数据安全,数据可视化,数据挖掘",0
3,1648165203084447745,1648164335723352064,2023-04-18 11:35,2023-04-18 11:23,2,数据挖掘工程师,5000,8000,1,不限,...,1648164335752712192,1648164335723352064,370000.0,370800.0,370811.0,山东省济宁市高新区洸河街道百丰大厦803,NaN,NaN,"数据可视化,机器学习,数据挖掘",0
4,1648165203084447744,1648164335723352064,NaN,2023-04-18 11:23,2,数据管理,3500,6000,1,不限,...,1648164335752712192,1648164335723352064,370000.0,370800.0,370811.0,山东省济宁市高新区洸河街道百丰大厦803,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,1463027273123889152,1461575718508036096,2021-11-23 15:24,2021-11-23 15:24,2,需求分析师,8000,12000,1,经验不限,...,1463023939658842112,1461575718508036096,440000.0,440100.0,440106.0,元岗路310号自编5栋,0,NaN,"数据查询,数据计算,数据挖掘,数据分析,产品运营",3
1570,1463031842339946496,1461575718508036096,2021-11-23 15:24,2021-11-23 15:24,2,前端开发工程师,8000,12000,1,经验不限,...,1463023939658842112,1461575718508036096,440000.0,440100.0,440106.0,元岗路310号自编5栋,0,NaN,"数据查询,数据计算,数据挖掘,数据分析,数据可视化",3
1571,1374181407047421952,1372106488809656320,2021-11-23 10:34,2021-11-23 10:34,2,软件测试工程师,6000,9000,1,1-3年,...,1374176027395362816,1372106488809656320,440000.0,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,NaN,"系统测试,软件系统搭建",0
1572,1374177417123467264,1372106488809656320,2021-11-23 10:33,2021-11-23 10:33,2,新媒体运营助理,5000,9000,1,1-3年,...,1374176027395362816,1372106488809656320,440000.0,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,NaN,产品运营,0
1573,1374177686322286592,1372106488809656320,2021-11-23 10:32,2021-11-23 10:32,2,数据产品经理,150000,300000,0,3-5年,...,1374176027395362816,1372106488809656320,440000.0,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,NaN,"数据探索,数据可视化,项目管理,需求分析,产品设计",0

In [7]:
data_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574 entries, 0 to 1573
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       1574 non-null   int64
 1   enterpriseId             1574 non-null   int64
 2   publishTime              236 non-null    object
 3   updateTime               1574 non-null   object
 4   willNature               1574 non-null   int64
 5   positionName             1574 non-null   object
 6   minimumWage              1574 non-null   int64
 7   maximumWage              1574 non-null   int64
 8   payMethod                1574 non-null   int64
 9   exp                      1574 non-null   object
 10  educationalRequirements  1574 non-null   int64
 11  count                    1574 non-null   int64
 12  jobRequiredments         1574 non-null   object
 13  welfare                  1574 non-null   object
 14  workplace                1396 non-null   object
 15  deadline                 1574 non-null   object
 16  function                 1574 non-null   object
 17  publisher                236 non-null    float64
 18  status                   1574 non-null   int64
 19  publisherName            427 non-null    object
 20  enterpriseName           1574 non-null   object
 21  messageTemplateId        0 non-null      float64
 22  unkid                    1574 non-null   int64
 23  enterpriseId.1           1574 non-null   int64
 24  provinceCode             202 non-null    float64
 25  cityCode                 202 non-null    float64
 26  regionCode               202 non-null    float64
 27  detailedAddress          1574 non-null   object
 28  remarks                  152 non-null    object
 29  keywords                 0 non-null      float64
 30  skillList                236 non-null    object
 31  resumeCount              1574 non-null   int64
dtypes: float64(6), int64(12), object(14)
memory usage: 393.6+ KB

In [8]:
data_main = data_main.fillna('')
data_public = data_public.fillna('')

In [9]:
data_public = pd.concat([data_public['jobRequiredments'], data_public['welfare'], data_public['function'], data_public['workplace'],
                        data_public['deadline'], data_public['enterpriseName'], data_public['skillList'], data_public['resumeCount']], axis=1)
data_public

,jobRequiredments,welfare,function,workplace,deadline,enterpriseName,skillList,resumeCount
0,岗位职责：\n1、负责配合客户及项目需要，完成技术交流，提供解决方案；\n2、负责网络安全、...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,深圳市众云网有限公司,"网络安全,云计算",0
1,主要职责：\n1、辅助集团数据安全规划工作，梳理摸底调研思路并定位现状和需求，设计可落地解决...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,深圳市众云网有限公司,"数据安全,数据可视化,数据挖掘",0
2,主要职责：\n1、负责集团内数据安全项目的推广工作，按照部门数据安全建设规划，与集团内客户开...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,深圳市众云网有限公司,"数据安全,数据可视化,数据挖掘",0
3,1、全日制本科及以上学历，计算机、数学、统计等相关 专业：超过三年的相关工作经验：\n2、熟...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,济宁森羽网络科技有限公司,"数据可视化,机器学习,数据挖掘",0
4,主要工作职责：\n1.完成业务数据库以及部分核心数据的维护工作，包括各项数据的采集、处理汇总...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,济宁森羽网络科技有限公司,,1
...,...,...,...,...,...,...,...,...
1569,岗位职责：\n梳理和细化产品需求并完成项目产品功能和交互设计，推进项目产品上线并持续优化； ...,"[""五险一金"",""出国机会"",""绩效奖金"",""年终奖金"",""员工旅游"",""交通补贴"",""股票...",需求分析师,,2022-03-31 00:00,中数通信息有限公司,"数据查询,数据计算,数据挖掘,数据分析,产品运营",3
1570,岗位职责：\n1、根据需求，完成PC端、移动端页面及交互的开发，并保证兼容性和确保产品具有优...,"[""五险一金"",""出国机会"",""绩效奖金"",""员工旅游"",""年终奖金"",""交通补贴"",""股票...",前端开发工程师,,2022-07-31 00:00,中数通信息有限公司,"数据查询,数据计算,数据挖掘,数据分析,数据可视化",3
1571,岗位职责：\n1、主动且充分了解产品需求，根据需求及测试方案设计测试用例。\n2、编写提交B...,"[""员工旅游"",""餐饮补贴"",""年终奖金""]",其他,,2021-11-30 00:00,广东泰迪智能科技股份有限公司,"系统测试,软件系统搭建",0
1572,岗位职责：\n1、负责品牌自媒体账号日常运营工作；\n2、负责品牌自媒体账号日常推广工作；\...,"[""员工旅游"",""餐饮补贴"",""年终奖金""]",其他,,2021-12-30 00:00,广东泰迪智能科技股份有限公司,产品运营,0
1573,岗位职责：\n1、具有互联网产品设计经验，能够独立完成产品业务调研、功能设计、原型设计、需求...,"[""员工旅游"",""餐饮补贴"",""年终奖金""]",其他,,2021-12-29 00:00,广东泰迪智能科技股份有限公司,"数据探索,数据可视化,项目管理,需求分析,产品设计",0

In [10]:
data_public = data_public.rename(columns={"jobRequiredments": "职位需求"})
data_public = data_public.rename(columns={"welfare": "福利补贴"})
data_public = data_public.rename(columns={"function": "职称"})
data_public = data_public.rename(columns={"workplace": "工作地点"})
data_public = data_public.rename(columns={"deadline": "投递截止"})
data_public = data_public.rename(columns={"enterpriseName": "企业名称"})
data_public = data_public.rename(columns={"skillList": "技能关键词"})
data_public = data_public.rename(columns={"resumeCount": "已投递简历数"})

In [11]:
data_main = data_main.rename(columns={"id": "招聘信息ID"})
# data_main = data_main.rename(columns={"publishTime": "招聘发布时间"})
data_main = data_main.rename(columns={"updateTime": "职位发布"})
data_main = data_main.rename(columns={"willNature": "岗位性质"})
data_main = data_main.rename(columns={"positionName": "招聘岗位"})
data_main = data_main.rename(columns={"minimumWage": "最少工资"})
data_main = data_main.rename(columns={"maximumWage": "最大工资"})
data_main = data_main.rename(columns={"payMethod": "工资支付方式"})
data_main = data_main.rename(columns={"exp": "工作经验要求"})
data_main = data_main.rename(columns={"provinceCode": "企业所在省份地区编码"})
data_main = data_main.rename(columns={"cityCode": "企业所在城市地区编码"})
data_main = data_main.rename(columns={"regionCode": "企业所在地域地区编码"})
data_main = data_main.rename(columns={"detailedAddress": "详细地址"})
# data_main = data_main.rename(columns={"remarks": "企业评价"})
data_main = data_main.rename(columns={"shortName": "企业简称"})
data_main = data_main.rename(columns={"industry": "领域方向"})
data_main = data_main.rename(columns={"econKind": "企业性质"})
data_main = data_main.rename(columns={"personScope": "人员规模"})
data_main = data_main.rename(columns={"educationalRequirements": "最低学历要求"})
data_main = data_main.rename(columns={"count": "招聘人数"})

In [12]:
data_main['最低学历要求'][data_main['最低学历要求'] == 0] = '不限'
data_main['最低学历要求'][data_main['最低学历要求'] == 1] = '技工'
data_main['最低学历要求'][data_main['最低学历要求'] == 2] = '大专'
data_main['最低学历要求'][data_main['最低学历要求'] == 3] = '本科'
data_main['最低学历要求'][data_main['最低学历要求'] == 4] = '硕士'
data_main['最低学历要求'][data_main['最低学历要求'] == 5] = '博士'

C:\Users\张理\AppData\Local\Temp\ipykernel_17572\3489093636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_main['最低学历要求'][data_main['最低学历要求'] == 0] = '不限'

In [13]:
data_main['岗位性质'][data_main['岗位性质'] == 0] = '实习'
data_main['岗位性质'][data_main['岗位性质'] == 2] = '全职'

C:\Users\张理\AppData\Local\Temp\ipykernel_17572\1276716272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_main['岗位性质'][data_main['岗位性质'] == 0] = '实习'

In [14]:
data_main

,序号,招聘信息ID,publishTime,职位发布,岗位性质,招聘岗位,最少工资,最大工资,工资支付方式,工作经验要求,...,企业所在城市地区编码,企业所在地域地区编码,详细地址,remarks,keywords,enterpriseExtId,企业简称,领域方向,企业性质,人员规模
0,1,1648527394191052802,2023-04-19 11:25,2023-04-19 11:22,全职,售前技术支持,12000,20000,1,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,,,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
1,2,1648527394191052801,2023-04-19 11:26,2023-04-19 11:22,全职,数据安全高级经理,16000,26000,1,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,,,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
2,3,1648527394191052800,2023-04-19 11:27,2023-04-19 11:22,全职,数据安全项目经理,15000,25000,1,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,,,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
3,4,1648165203084447745,2023-04-18 11:35,2023-04-18 11:23,全职,数据挖掘工程师,5000,8000,1,不限,...,370800.0,370811.0,山东省济宁市高新区洸河街道百丰大厦803,,,1648164336000176128,森羽网络,"[""互联网""]",民营公司,50-100人
4,5,1648165203084447744,,2023-04-18 11:23,全职,数据管理,3500,6000,1,不限,...,370800.0,370811.0,山东省济宁市高新区洸河街道百丰大厦803,,,1648164336000176128,森羽网络,"[""互联网""]",民营公司,50-100人
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,1570,1463027273123889152,2021-11-23 15:24,2021-11-23 15:24,全职,需求分析师,8000,12000,1,经验不限,...,440100.0,440106.0,元岗路310号自编5栋,0,,1463024455260438528,中数通,"[""数据服务"",""互联网""]",合资,500-1000人
1570,1571,1463031842339946496,2021-11-23 15:24,2021-11-23 15:24,全职,前端开发工程师,8000,12000,1,经验不限,...,440100.0,440106.0,元岗路310号自编5栋,0,,1463024455260438528,中数通,"[""数据服务"",""互联网""]",合资,500-1000人
1571,1572,1374181407047421952,2021-11-23 10:34,2021-11-23 10:34,全职,软件测试工程师,6000,9000,1,1-3年,...,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,,1374177040332361728,泰迪科技,"[""互联网"",""计算机软件""]",民营公司,150-500人
1572,1573,1374177417123467264,2021-11-23 10:33,2021-11-23 10:33,全职,新媒体运营助理,5000,9000,1,1-3年,...,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,,1374177040332361728,泰迪科技,"[""互联网"",""计算机软件""]",民营公司,150-500人
1573,1574,1374177686322286592,2021-11-23 10:32,2021-11-23 10:32,全职,数据产品经理,150000,300000,0,3-5年,...,440100.0,440112.0,开泰大道36号凯得科学会广场1栋2楼212室,总部,,1374177040332361728,泰迪科技,"[""互联网"",""计算机软件""]",民营公司,150-500人

In [15]:
data_main['工资支付方式'][data_main['工资支付方式'] == 0] = '年结'
data_main['工资支付方式'][data_main['工资支付方式'] == 1] = '月结'
data_main['工资支付方式'][data_main['工资支付方式'] == 2] = '日结'

C:\Users\张理\AppData\Local\Temp\ipykernel_17572\2868822540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_main['工资支付方式'][data_main['工资支付方式'] == 0] = '年结'

In [16]:
data_main.head(3)

,序号,招聘信息ID,publishTime,职位发布,岗位性质,招聘岗位,最少工资,最大工资,工资支付方式,工作经验要求,...,企业所在城市地区编码,企业所在地域地区编码,详细地址,remarks,keywords,enterpriseExtId,企业简称,领域方向,企业性质,人员规模
0,1,1648527394191052802,2023-04-19 11:25,2023-04-19 11:22,全职,售前技术支持,12000,20000,月结,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,,,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
1,2,1648527394191052801,2023-04-19 11:26,2023-04-19 11:22,全职,数据安全高级经理,16000,26000,月结,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,,,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人
2,3,1648527394191052800,2023-04-19 11:27,2023-04-19 11:22,全职,数据安全项目经理,15000,25000,月结,不限,...,440300.0,440305.0,深圳市南山区粤海街道滨海社区海天一路19、17、18号软件产业基地4栋511,,,1648526959162036224,众云网,"[""互联网"",""计算机软件""]",民营公司,150-500人

In [17]:
data_main.drop(columns=['unkid'], inplace=True)
data_main.drop(columns=['enterpriseId'], inplace=True)
data_main.drop(columns=['enterpriseExtId'], inplace=True)
data_main.drop(columns=['keywords'], inplace=True)
data_main.drop(columns=['publishTime'], inplace=True)
data_main.drop(columns=['remarks'], inplace=True)

data_main.drop(columns=['企业所在省份地区编码'], inplace=True)
data_main.drop(columns=['企业所在城市地区编码'], inplace=True)
data_main.drop(columns=['企业所在地域地区编码'], inplace=True)

In [18]:
data_total = pd.concat([data_main, data_public], axis=1)

In [19]:
data_total.head(3)

,序号,招聘信息ID,职位发布,岗位性质,招聘岗位,最少工资,最大工资,工资支付方式,工作经验要求,最低学历要求,...,企业性质,人员规模,职位需求,福利补贴,职称,工作地点,投递截止,企业名称,技能关键词,已投递简历数
0,1,1648527394191052802,2023-04-19 11:22,全职,售前技术支持,12000,20000,月结,不限,本科,...,民营公司,150-500人,岗位职责：\n1、负责配合客户及项目需要，完成技术交流，提供解决方案；\n2、负责网络安全、...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,深圳市众云网有限公司,"网络安全,云计算",0
1,2,1648527394191052801,2023-04-19 11:22,全职,数据安全高级经理,16000,26000,月结,不限,本科,...,民营公司,150-500人,主要职责：\n1、辅助集团数据安全规划工作，梳理摸底调研思路并定位现状和需求，设计可落地解决...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,深圳市众云网有限公司,"数据安全,数据可视化,数据挖掘",0
2,3,1648527394191052800,2023-04-19 11:22,全职,数据安全项目经理,15000,25000,月结,不限,本科,...,民营公司,150-500人,主要职责：\n1、负责集团内数据安全项目的推广工作，按照部门数据安全建设规划，与集团内客户开...,"[""餐饮补贴"",""专业培训"",""弹性工作""]","[""大数据分析师""]",,2023-12-31 00:00,深圳市众云网有限公司,"数据安全,数据可视化,数据挖掘",0

In [20]:
import re

pattern = r'[\"|\[\]]'
data_total = data_total.replace(to_replace=pattern, value="", regex=True)

In [21]:
data_total

,序号,招聘信息ID,职位发布,岗位性质,招聘岗位,最少工资,最大工资,工资支付方式,工作经验要求,最低学历要求,...,企业性质,人员规模,职位需求,福利补贴,职称,工作地点,投递截止,企业名称,技能关键词,已投递简历数
0,1,1648527394191052802,2023-04-19 11:22,全职,售前技术支持,12000,20000,月结,不限,本科,...,民营公司,150-500人,岗位职责：\n1、负责配合客户及项目需要，完成技术交流，提供解决方案；\n2、负责网络安全、...,"餐饮补贴,专业培训,弹性工作",大数据分析师,,2023-12-31 00:00,深圳市众云网有限公司,"网络安全,云计算",0
1,2,1648527394191052801,2023-04-19 11:22,全职,数据安全高级经理,16000,26000,月结,不限,本科,...,民营公司,150-500人,主要职责：\n1、辅助集团数据安全规划工作，梳理摸底调研思路并定位现状和需求，设计可落地解决...,"餐饮补贴,专业培训,弹性工作",大数据分析师,,2023-12-31 00:00,深圳市众云网有限公司,"数据安全,数据可视化,数据挖掘",0
2,3,1648527394191052800,2023-04-19 11:22,全职,数据安全项目经理,15000,25000,月结,不限,本科,...,民营公司,150-500人,主要职责：\n1、负责集团内数据安全项目的推广工作，按照部门数据安全建设规划，与集团内客户开...,"餐饮补贴,专业培训,弹性工作",大数据分析师,,2023-12-31 00:00,深圳市众云网有限公司,"数据安全,数据可视化,数据挖掘",0
3,4,1648165203084447745,2023-04-18 11:23,全职,数据挖掘工程师,5000,8000,月结,不限,本科,...,民营公司,50-100人,1、全日制本科及以上学历，计算机、数学、统计等相关 专业：超过三年的相关工作经验：\n2、熟...,"餐饮补贴,专业培训,弹性工作",大数据分析师,,2023-12-31 00:00,济宁森羽网络科技有限公司,"数据可视化,机器学习,数据挖掘",0
4,5,1648165203084447744,2023-04-18 11:23,全职,数据管理,3500,6000,月结,不限,本科,...,民营公司,50-100人,主要工作职责：\n1.完成业务数据库以及部分核心数据的维护工作，包括各项数据的采集、处理汇总...,"餐饮补贴,专业培训,弹性工作",大数据分析师,,2023-12-31 00:00,济宁森羽网络科技有限公司,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,1570,1463027273123889152,2021-11-23 15:24,全职,需求分析师,8000,12000,月结,经验不限,本科,...,合资,500-1000人,岗位职责：\n梳理和细化产品需求并完成项目产品功能和交互设计，推进项目产品上线并持续优化； ...,"五险一金,出国机会,绩效奖金,年终奖金,员工旅游,交通补贴,股票期权,餐饮补贴,弹性工作,定...",需求分析师,,2022-03-31 00:00,中数通信息有限公司,"数据查询,数据计算,数据挖掘,数据分析,产品运营",3
1570,1571,1463031842339946496,2021-11-23 15:24,全职,前端开发工程师,8000,12000,月结,经验不限,本科,...,合资,500-1000人,岗位职责：\n1、根据需求，完成PC端、移动端页面及交互的开发，并保证兼容性和确保产品具有优...,"五险一金,出国机会,绩效奖金,员工旅游,年终奖金,交通补贴,股票期权,餐饮补贴,弹性工作,定...",前端开发工程师,,2022-07-31 00:00,中数通信息有限公司,"数据查询,数据计算,数据挖掘,数据分析,数据可视化",3
1571,1572,1374181407047421952,2021-11-23 10:34,全职,软件测试工程师,6000,9000,月结,1-3年,本科,...,民营公司,150-500人,岗位职责：\n1、主动且充分了解产品需求，根据需求及测试方案设计测试用例。\n2、编写提交B...,"员工旅游,餐饮补贴,年终奖金",其他,,2021-11-30 00:00,广东泰迪智能科技股份有限公司,"系统测试,软件系统搭建",0
1572,1573,1374177417123467264,2021-11-23 10:33,全职,新媒体运营助理,5000,9000,月结,1-3年,本科,...,民营公司,150-500人,岗位职责：\n1、负责品牌自媒体账号日常运营工作；\n2、负责品牌自媒体账号日常推广工作；\...,"员工旅游,餐饮补贴,年终奖金",其他,,2021-12-30 00:00,广东泰迪智能科技股份有限公司,产品运营,0
1573,1574,1374177686322286592,2021-11-23 10:32,全职,数据产品经理,150000,300000,年结,3-5年,本科,...,民营公司,150-500人,岗位职责：\n1、具有互联网产品设计经验，能够独立完成产品业务调研、功能设计、原型设计、需求...,"员工旅游,餐饮补贴,年终奖金",其他,,2021-12-29 00:00,广东泰迪智能科技股份有限公司,"数据探索,数据可视化,项目管理,需求分析,产品设计",0

In [22]:
data_id = pd.read_csv('D:/pyhton_practice/TeddyCup_C/data/result1-2-2_test.csv')
data_id = data_id.loc[:, ['招聘信息ID', '职位关键词']]

# 将 data_id 中的招聘信息ID列转换为 int 类型
data_id['招聘信息ID'] = data_id['招聘信息ID'].astype('int64')

# 修改 data_id 的列名，将“招聘信息ID”修改为“招聘信息 ID”
data_id = data_id.rename(columns={'招聘信息ID': '招聘信息ID'})

# 将两个 DataFrame 按照招聘信息 ID 进行合并
merged_data = pd.merge(data_total, data_id, on='招聘信息ID')

# 将 data_id 中的职位关键词列转移至 merged_data 中，并重新命名为“职位关键词”
merged_data['职位关键词'] = merged_data['职位关键词'].combine_first(merged_data['职位关键词'])

# 删除原始的“职位关键词_x”和“职位关键词_y”列
# merged_data.drop(['职位关键词_x', '职位关键词_y'], axis=1, inplace=True)

# 保存结果到新的 csv 文件中
merged_data

,序号,招聘信息ID,职位发布,岗位性质,招聘岗位,最少工资,最大工资,工资支付方式,工作经验要求,最低学历要求,...,人员规模,职位需求,福利补贴,职称,工作地点,投递截止,企业名称,技能关键词,已投递简历数,职位关键词
0,11,1613439889204969472,2023-01-12 15:37,实习,自然语言处理工程师,2000,4000,月结,经验不限,本科,...,50-100人,【岗位职责】\n1.根据业务需求，负责自然语言处理方向的算法研究、产品开发和性能提升。 \n...,,其他,,2029-01-01 00:00,广州奇之信息技术有限公司,"算法研究,深度学习",4,自然语言
1,12,1613439536044572672,2023-01-12 15:35,实习,爬虫工程师,2000,4000,月结,经验不限,本科,...,50-100人,【岗位要求】\n1.精通python编程语言\n2.熟练掌握常用的爬虫框架，如scrapy、...,,其他,,2029-01-01 00:00,广州奇之信息技术有限公司,"Python,爬虫框架,数据采集",1,爬虫框架
2,12,1613439536044572672,2023-01-12 15:35,实习,爬虫工程师,2000,4000,月结,经验不限,本科,...,50-100人,【岗位要求】\n1.精通python编程语言\n2.熟练掌握常用的爬虫框架，如scrapy、...,,其他,,2029-01-01 00:00,广州奇之信息技术有限公司,"Python,爬虫框架,数据采集",1,职位关键词职位关键词
3,12,1613439536044572672,2023-01-12 15:35,实习,爬虫工程师,2000,4000,月结,经验不限,本科,...,50-100人,【岗位要求】\n1.精通python编程语言\n2.熟练掌握常用的爬虫框架，如scrapy、...,,其他,,2029-01-01 00:00,广州奇之信息技术有限公司,"Python,爬虫框架,数据采集",1,爬虫框架
4,13,1613439183576236032,2023-01-12 15:34,实习,Python/django后台开发工程师,2000,4000,月结,经验不限,本科,...,50-100人,【岗位要求】\n1.熟悉django、Python语言，较好的编程习惯\n2.了解ES搜索引...,,其他,,2029-01-01 00:00,广州奇之信息技术有限公司,"Python,django,软件系统搭建",1,后台开发
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,1570,1463027273123889152,2021-11-23 15:24,全职,需求分析师,8000,12000,月结,经验不限,本科,...,500-1000人,岗位职责：\n梳理和细化产品需求并完成项目产品功能和交互设计，推进项目产品上线并持续优化； ...,"五险一金,出国机会,绩效奖金,年终奖金,员工旅游,交通补贴,股票期权,餐饮补贴,弹性工作,定...",需求分析师,,2022-03-31 00:00,中数通信息有限公司,"数据查询,数据计算,数据挖掘,数据分析,产品运营",3,交互设计竞品调研数据分析团队协作数据表现
1562,1571,1463031842339946496,2021-11-23 15:24,全职,前端开发工程师,8000,12000,月结,经验不限,本科,...,500-1000人,岗位职责：\n1、根据需求，完成PC端、移动端页面及交互的开发，并保证兼容性和确保产品具有优...,"五险一金,出国机会,绩效奖金,员工旅游,年终奖金,交通补贴,股票期权,餐饮补贴,弹性工作,定...",前端开发工程师,,2022-07-31 00:00,中数通信息有限公司,"数据查询,数据计算,数据挖掘,数据分析,数据可视化",3,交互设计数据分析团队协作数据表现交互开发
1563,1572,1374181407047421952,2021-11-23 10:34,全职,软件测试工程师,6000,9000,月结,1-3年,本科,...,150-500人,岗位职责：\n1、主动且充分了解产品需求，根据需求及测试方案设计测试用例。\n2、编写提交B...,"员工旅游,餐饮补贴,年终奖金",其他,,2021-11-30 00:00,广东泰迪智能科技股份有限公司,"系统测试,软件系统搭建",0,教育行业大数据产品
1564,1573,1374177417123467264,2021-11-23 10:33,全职,新媒体运营助理,5000,9000,月结,1-3年,本科,...,150-500人,岗位职责：\n1、负责品牌自媒体账号日常运营工作；\n2、负责品牌自媒体账号日常推广工作；\...,"员工旅游,餐饮补贴,年终奖金",其他,,2021-12-30 00:00,广东泰迪智能科技股份有限公司,产品运营,0,在线教育视频号运营公众号运营
1565,1574,1374177686322286592,2021-11-23 10:32,全职,数据产品经理,150000,300000,年结,3-5年,本科,...,150-500人,岗位职责：\n1、具有互联网产品设计经验，能够独立完成产品业务调研、功能设计、原型设计、需求...,"员工旅游,餐饮补贴,年终奖金",其他,,2021-12-29 00:00,广东泰迪智能科技股份有限公司,"数据探索,数据可视化,项目管理,需求分析,产品设计",0,教育行业大数据产品需求分析

In [23]:
# 使用 range() 函数生成序号并赋值给 '序号' 列
merged_data.drop(columns=['序号'], inplace=True)
merged_data.insert(0, '序号', range(1, len(merged_data)+1))
# 交换"企业名称"和"招聘岗位"的位置
merged_data = merged_data.reindex(columns=['序号', '招聘信息ID', '企业名称', '招聘岗位', 
                                           '职位发布', '投递截止', '岗位性质','技能关键词', '职位关键词', '职位需求', '工作经验要求',
                                          '最低学历要求', '最少工资', '最大工资', '工资支付方式', '福利补贴',
                                          '职称', '工作地点', '招聘人数', '详细地址', '企业简称', '领域方向', '企业性质',
                                          '人员规模', '已投递简历数'])

In [24]:
merged_data

,序号,招聘信息ID,企业名称,招聘岗位,职位发布,投递截止,岗位性质,技能关键词,职位关键词,职位需求,...,福利补贴,职称,工作地点,招聘人数,详细地址,企业简称,领域方向,企业性质,人员规模,已投递简历数
0,1,1613439889204969472,广州奇之信息技术有限公司,自然语言处理工程师,2023-01-12 15:37,2029-01-01 00:00,实习,"算法研究,深度学习",自然语言,【岗位职责】\n1.根据业务需求，负责自然语言处理方向的算法研究、产品开发和性能提升。 \n...,...,,其他,,0,广州大学城(大学城北)创智园3栋4楼,奇之,"互联网,数据服务",民营公司,50-100人,4
1,2,1613439536044572672,广州奇之信息技术有限公司,爬虫工程师,2023-01-12 15:35,2029-01-01 00:00,实习,"Python,爬虫框架,数据采集",爬虫框架,【岗位要求】\n1.精通python编程语言\n2.熟练掌握常用的爬虫框架，如scrapy、...,...,,其他,,0,广州大学城(大学城北)创智园3栋4楼,奇之,"互联网,数据服务",民营公司,50-100人,1
2,3,1613439536044572672,广州奇之信息技术有限公司,爬虫工程师,2023-01-12 15:35,2029-01-01 00:00,实习,"Python,爬虫框架,数据采集",职位关键词职位关键词,【岗位要求】\n1.精通python编程语言\n2.熟练掌握常用的爬虫框架，如scrapy、...,...,,其他,,0,广州大学城(大学城北)创智园3栋4楼,奇之,"互联网,数据服务",民营公司,50-100人,1
3,4,1613439536044572672,广州奇之信息技术有限公司,爬虫工程师,2023-01-12 15:35,2029-01-01 00:00,实习,"Python,爬虫框架,数据采集",爬虫框架,【岗位要求】\n1.精通python编程语言\n2.熟练掌握常用的爬虫框架，如scrapy、...,...,,其他,,0,广州大学城(大学城北)创智园3栋4楼,奇之,"互联网,数据服务",民营公司,50-100人,1
4,5,1613439183576236032,广州奇之信息技术有限公司,Python/django后台开发工程师,2023-01-12 15:34,2029-01-01 00:00,实习,"Python,django,软件系统搭建",后台开发,【岗位要求】\n1.熟悉django、Python语言，较好的编程习惯\n2.了解ES搜索引...,...,,其他,,0,广州大学城(大学城北)创智园3栋4楼,奇之,"互联网,数据服务",民营公司,50-100人,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,1562,1463027273123889152,中数通信息有限公司,需求分析师,2021-11-23 15:24,2022-03-31 00:00,全职,"数据查询,数据计算,数据挖掘,数据分析,产品运营",交互设计竞品调研数据分析团队协作数据表现,岗位职责：\n梳理和细化产品需求并完成项目产品功能和交互设计，推进项目产品上线并持续优化； ...,...,"五险一金,出国机会,绩效奖金,年终奖金,员工旅游,交通补贴,股票期权,餐饮补贴,弹性工作,定...",需求分析师,,0,元岗路310号自编5栋,中数通,"数据服务,互联网",合资,500-1000人,3
1562,1563,1463031842339946496,中数通信息有限公司,前端开发工程师,2021-11-23 15:24,2022-07-31 00:00,全职,"数据查询,数据计算,数据挖掘,数据分析,数据可视化",交互设计数据分析团队协作数据表现交互开发,岗位职责：\n1、根据需求，完成PC端、移动端页面及交互的开发，并保证兼容性和确保产品具有优...,...,"五险一金,出国机会,绩效奖金,员工旅游,年终奖金,交通补贴,股票期权,餐饮补贴,弹性工作,定...",前端开发工程师,,0,元岗路310号自编5栋,中数通,"数据服务,互联网",合资,500-1000人,3
1563,1564,1374181407047421952,广东泰迪智能科技股份有限公司,软件测试工程师,2021-11-23 10:34,2021-11-30 00:00,全职,"系统测试,软件系统搭建",教育行业大数据产品,岗位职责：\n1、主动且充分了解产品需求，根据需求及测试方案设计测试用例。\n2、编写提交B...,...,"员工旅游,餐饮补贴,年终奖金",其他,,1,开泰大道36号凯得科学会广场1栋2楼212室,泰迪科技,"互联网,计算机软件",民营公司,150-500人,0
1564,1565,1374177417123467264,广东泰迪智能科技股份有限公司,新媒体运营助理,2021-11-23 10:33,2021-12-30 00:00,全职,产品运营,在线教育视频号运营公众号运营,岗位职责：\n1、负责品牌自媒体账号日常运营工作；\n2、负责品牌自媒体账号日常推广工作；\...,...,"员工旅游,餐饮补贴,年终奖金",其他,,1,开泰大道36号凯得科学会广场1栋2楼212室,泰迪科技,"互联网,计算机软件",民营公司,150-500人,0
1565,1566,1374177686322286592,广东泰迪智能科技股份有限公司,数据产品经理,2021-11-23 10:32,2021-12-29 00:00,全职,"数据探索,数据可视化,项目管理,需求分析,产品设计",教育行业大数据产品需求分析,岗位职责：\n1、具有互联网产品设计经验，能够独立完成产品业务调研、功能设计、原型设计、需求...,...,"员工旅游,餐饮补贴,年终奖金",其他,,2,开泰大道36号凯得科学会广场1栋2楼212室,泰迪科技,"互联网,计算机软件",民营公司,150-500人,0

In [25]:
outputpath = 'D:/pyhton_practice/TeddyCup_C/data/result1-1.csv'
# outputpath是保存文件路径
 
merged_data.to_csv(outputpath,sep=',',index=False,header=True)

In [26]:
data_person = pd.read_csv('D:/pyhton_practice/TeddyCup_C/data/根据人才id获取详细数据(10897条).csv')
data_person

,求职者id,姓名,期望岗位,性别,年龄,居住地址,工作经验,自我评价,期望薪资低,期望薪资高,工作性质,期望行业,工作地区,到岗时间,简历关键词,学历,学科专业
0,"1630105867208753152,",陈先生,"[""数据分析师"",""自然语言处理工程师"",""机器学习工程师""]",0,23,"[""广东省"",""肇庆市"",""广宁县""]",无经验,1. 熟练使用python及其相关库操作。\n2. 熟练Mysql数据库，熟悉标准SQL语句...,3000,5000,1,"[""互联网"",""数据服务"",""电子商务""]","[""广东省"",""广州市"",""天河区""]",随时到岗,NaN,NaN,NaN
1,"1627308899029876736,",张先生,"[""数据分析师"",""数据挖掘工程师"",""算法工程师""]",0,23,"[""河南省"",""郑州市"",""中原区""]",无经验,熟悉VR游戏制作，UE5虚拟引擎，精通C++、Python、matlab等编程语言。七年编程...,50000,55000,1,"[""互联网"",""游戏"",""计算机软件""]","[""广东省"",""广州市"",""番禺区""]",随时到岗,深度学习 网页逆向分析,NaN,NaN
2,"1623885034161307648,",田女士,"[""其他""]",1,24,"[""云南省"",""昆明市"",""官渡区""]",无经验,勤奋踏实，肯吃苦，有良好的沟通和表达能力，学习新事物能力强。语言表达清晰，有较强的逻辑思维能...,3000,4000,1,"[""不限""]","[""广东省"",""广州市"",""黄埔区""]",随时到岗,NaN,NaN,NaN
3,"1614575985309646848,",唐女士,"[""数据分析师"",""其他""]",1,22,"[""重庆市"",""重庆市"",""彭水苗族土家族自治县""]",无经验,个人擅长与人沟通，且有良好的抗压能力，并且能够承担相应的工作任务，吃苦耐劳，对事情比较专注，...,5000,8000,1,"[""不限""]","[""重庆市"",""重庆市"",""渝中区""]",随时到岗,NaN,NaN,NaN
4,"1599636587363303424,",胡先生,"[""数据分析师""]",0,22,"[""广东省"",""广州市"",""天河区""]",无经验,具备自我独立完成任务的能力，也能很好融入集体，具有集体荣誉感以及责任感\n喜欢具有挑战性的任...,6000,11000,1,[],"[""广东省"",""深圳市"",""龙岗区""]",1个月后到岗,数据分析 python 机器学习 MySQL 自然语言处理,本科,应用统计学
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10831,"7539782608648597012,",黎先生,"[""数据分析师"",""数据挖掘工程师""]",0,27,NaN,NaN,NaN,4000,6000,1,"[""互联网""]",NaN,NaN,NaN,NaN,NaN
10832,"7539782617238531604,",钟女士,"[""数据分析师"",""数据挖掘工程师""]",1,24,NaN,NaN,NaN,4000,6000,1,"[""互联网""]",NaN,NaN,NaN,NaN,NaN
10833,"7539739663270604308,",曾先生,"[""数据分析师"",""数据挖掘工程师""]",0,26,NaN,NaN,NaN,4000,6000,1,"[""互联网""]",NaN,NaN,NaN,NaN,NaN
10834,"7539739671860538900,",贾女士,"[""数据分析师"",""数据挖掘工程师""]",1,25,NaN,NaN,NaN,4000,6000,1,"[""互联网""]",NaN,NaN,NaN,NaN,NaN
10835,"7539739676155506196,",王先生,"[""数据分析师"",""数据挖掘工程师""]",0,24,NaN,NaN,NaN,4000,6000,1,"[""互联网""]",NaN,NaN,NaN,NaN,NaN

In [27]:
data_person = data_person.fillna('')
data_person.insert(0, '序号', range(1, len(data_person)+1))
data_person

,序号,求职者id,姓名,期望岗位,性别,年龄,居住地址,工作经验,自我评价,期望薪资低,期望薪资高,工作性质,期望行业,工作地区,到岗时间,简历关键词,学历,学科专业
0,1,"1630105867208753152,",陈先生,"[""数据分析师"",""自然语言处理工程师"",""机器学习工程师""]",0,23,"[""广东省"",""肇庆市"",""广宁县""]",无经验,1. 熟练使用python及其相关库操作。\n2. 熟练Mysql数据库，熟悉标准SQL语句...,3000,5000,1,"[""互联网"",""数据服务"",""电子商务""]","[""广东省"",""广州市"",""天河区""]",随时到岗,,,
1,2,"1627308899029876736,",张先生,"[""数据分析师"",""数据挖掘工程师"",""算法工程师""]",0,23,"[""河南省"",""郑州市"",""中原区""]",无经验,熟悉VR游戏制作，UE5虚拟引擎，精通C++、Python、matlab等编程语言。七年编程...,50000,55000,1,"[""互联网"",""游戏"",""计算机软件""]","[""广东省"",""广州市"",""番禺区""]",随时到岗,深度学习 网页逆向分析,,
2,3,"1623885034161307648,",田女士,"[""其他""]",1,24,"[""云南省"",""昆明市"",""官渡区""]",无经验,勤奋踏实，肯吃苦，有良好的沟通和表达能力，学习新事物能力强。语言表达清晰，有较强的逻辑思维能...,3000,4000,1,"[""不限""]","[""广东省"",""广州市"",""黄埔区""]",随时到岗,,,
3,4,"1614575985309646848,",唐女士,"[""数据分析师"",""其他""]",1,22,"[""重庆市"",""重庆市"",""彭水苗族土家族自治县""]",无经验,个人擅长与人沟通，且有良好的抗压能力，并且能够承担相应的工作任务，吃苦耐劳，对事情比较专注，...,5000,8000,1,"[""不限""]","[""重庆市"",""重庆市"",""渝中区""]",随时到岗,,,
4,5,"1599636587363303424,",胡先生,"[""数据分析师""]",0,22,"[""广东省"",""广州市"",""天河区""]",无经验,具备自我独立完成任务的能力，也能很好融入集体，具有集体荣誉感以及责任感\n喜欢具有挑战性的任...,6000,11000,1,[],"[""广东省"",""深圳市"",""龙岗区""]",1个月后到岗,数据分析 python 机器学习 MySQL 自然语言处理,本科,应用统计学
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10831,10832,"7539782608648597012,",黎先生,"[""数据分析师"",""数据挖掘工程师""]",0,27,,,,4000,6000,1,"[""互联网""]",,,,,
10832,10833,"7539782617238531604,",钟女士,"[""数据分析师"",""数据挖掘工程师""]",1,24,,,,4000,6000,1,"[""互联网""]",,,,,
10833,10834,"7539739663270604308,",曾先生,"[""数据分析师"",""数据挖掘工程师""]",0,26,,,,4000,6000,1,"[""互联网""]",,,,,
10834,10835,"7539739671860538900,",贾女士,"[""数据分析师"",""数据挖掘工程师""]",1,25,,,,4000,6000,1,"[""互联网""]",,,,,
10835,10836,"7539739676155506196,",王先生,"[""数据分析师"",""数据挖掘工程师""]",0,24,,,,4000,6000,1,"[""互联网""]",,,,,

In [28]:
pattern = r'[\"|\[\]]'
pattern1 = r'[\,]'
data_person = data_person.replace(to_replace=pattern, value="", regex=True)
data_person['求职者id'] = data_person['求职者id'].replace(to_replace=pattern1, value="", regex=True)
data_person

,序号,求职者id,姓名,期望岗位,性别,年龄,居住地址,工作经验,自我评价,期望薪资低,期望薪资高,工作性质,期望行业,工作地区,到岗时间,简历关键词,学历,学科专业
0,1,1630105867208753152,陈先生,"数据分析师,自然语言处理工程师,机器学习工程师",0,23,"广东省,肇庆市,广宁县",无经验,1. 熟练使用python及其相关库操作。\n2. 熟练Mysql数据库，熟悉标准SQL语句...,3000,5000,1,"互联网,数据服务,电子商务","广东省,广州市,天河区",随时到岗,,,
1,2,1627308899029876736,张先生,"数据分析师,数据挖掘工程师,算法工程师",0,23,"河南省,郑州市,中原区",无经验,熟悉VR游戏制作，UE5虚拟引擎，精通C++、Python、matlab等编程语言。七年编程...,50000,55000,1,"互联网,游戏,计算机软件","广东省,广州市,番禺区",随时到岗,深度学习 网页逆向分析,,
2,3,1623885034161307648,田女士,其他,1,24,"云南省,昆明市,官渡区",无经验,勤奋踏实，肯吃苦，有良好的沟通和表达能力，学习新事物能力强。语言表达清晰，有较强的逻辑思维能...,3000,4000,1,不限,"广东省,广州市,黄埔区",随时到岗,,,
3,4,1614575985309646848,唐女士,"数据分析师,其他",1,22,"重庆市,重庆市,彭水苗族土家族自治县",无经验,个人擅长与人沟通，且有良好的抗压能力，并且能够承担相应的工作任务，吃苦耐劳，对事情比较专注，...,5000,8000,1,不限,"重庆市,重庆市,渝中区",随时到岗,,,
4,5,1599636587363303424,胡先生,数据分析师,0,22,"广东省,广州市,天河区",无经验,具备自我独立完成任务的能力，也能很好融入集体，具有集体荣誉感以及责任感\n喜欢具有挑战性的任...,6000,11000,1,,"广东省,深圳市,龙岗区",1个月后到岗,数据分析 python 机器学习 MySQL 自然语言处理,本科,应用统计学
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10831,10832,7539782608648597012,黎先生,"数据分析师,数据挖掘工程师",0,27,,,,4000,6000,1,互联网,,,,,
10832,10833,7539782617238531604,钟女士,"数据分析师,数据挖掘工程师",1,24,,,,4000,6000,1,互联网,,,,,
10833,10834,7539739663270604308,曾先生,"数据分析师,数据挖掘工程师",0,26,,,,4000,6000,1,互联网,,,,,
10834,10835,7539739671860538900,贾女士,"数据分析师,数据挖掘工程师",1,25,,,,4000,6000,1,互联网,,,,,
10835,10836,7539739676155506196,王先生,"数据分析师,数据挖掘工程师",0,24,,,,4000,6000,1,互联网,,,,,

In [29]:
data_person['性别'][data_person['性别'] == '0'] = '男'
data_person['性别'][data_person['性别'] == '1'] = '女'
data_person['工作性质'] = data_person['工作性质'].replace('2', '0')
data_person['工作性质'][data_person['工作性质'] == '0'] = '全职'
data_person['工作性质'][data_person['工作性质'] == '1'] = '实习'

C:\Users\张理\AppData\Local\Temp\ipykernel_17572\925761370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_person['性别'][data_person['性别'] == '0'] = '男'
C:\Users\张理\AppData\Local\Temp\ipykernel_17572\925761370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_person['性别'][data_person['性别'] == '1'] = '女'
C:\Users\张理\AppData\Local\Temp\ipykernel_17572\925761370.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_person['工作性质'][data_person['工作性质'] == '0'] = '全职'
C:\Users\张理\AppData\Local\Temp\ipykernel_17572\925761370.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_person['工作性质'][data_person['工作性质'] == '1'] = '实习'

In [30]:
data_person

,序号,求职者id,姓名,期望岗位,性别,年龄,居住地址,工作经验,自我评价,期望薪资低,期望薪资高,工作性质,期望行业,工作地区,到岗时间,简历关键词,学历,学科专业
0,1,1630105867208753152,陈先生,"数据分析师,自然语言处理工程师,机器学习工程师",男,23,"广东省,肇庆市,广宁县",无经验,1. 熟练使用python及其相关库操作。\n2. 熟练Mysql数据库，熟悉标准SQL语句...,3000,5000,实习,"互联网,数据服务,电子商务","广东省,广州市,天河区",随时到岗,,,
1,2,1627308899029876736,张先生,"数据分析师,数据挖掘工程师,算法工程师",男,23,"河南省,郑州市,中原区",无经验,熟悉VR游戏制作，UE5虚拟引擎，精通C++、Python、matlab等编程语言。七年编程...,50000,55000,实习,"互联网,游戏,计算机软件","广东省,广州市,番禺区",随时到岗,深度学习 网页逆向分析,,
2,3,1623885034161307648,田女士,其他,女,24,"云南省,昆明市,官渡区",无经验,勤奋踏实，肯吃苦，有良好的沟通和表达能力，学习新事物能力强。语言表达清晰，有较强的逻辑思维能...,3000,4000,实习,不限,"广东省,广州市,黄埔区",随时到岗,,,
3,4,1614575985309646848,唐女士,"数据分析师,其他",女,22,"重庆市,重庆市,彭水苗族土家族自治县",无经验,个人擅长与人沟通，且有良好的抗压能力，并且能够承担相应的工作任务，吃苦耐劳，对事情比较专注，...,5000,8000,实习,不限,"重庆市,重庆市,渝中区",随时到岗,,,
4,5,1599636587363303424,胡先生,数据分析师,男,22,"广东省,广州市,天河区",无经验,具备自我独立完成任务的能力，也能很好融入集体，具有集体荣誉感以及责任感\n喜欢具有挑战性的任...,6000,11000,实习,,"广东省,深圳市,龙岗区",1个月后到岗,数据分析 python 机器学习 MySQL 自然语言处理,本科,应用统计学
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10831,10832,7539782608648597012,黎先生,"数据分析师,数据挖掘工程师",男,27,,,,4000,6000,实习,互联网,,,,,
10832,10833,7539782617238531604,钟女士,"数据分析师,数据挖掘工程师",女,24,,,,4000,6000,实习,互联网,,,,,
10833,10834,7539739663270604308,曾先生,"数据分析师,数据挖掘工程师",男,26,,,,4000,6000,实习,互联网,,,,,
10834,10835,7539739671860538900,贾女士,"数据分析师,数据挖掘工程师",女,25,,,,4000,6000,实习,互联网,,,,,
10835,10836,7539739676155506196,王先生,"数据分析师,数据挖掘工程师",男,24,,,,4000,6000,实习,互联网,,,,,

In [31]:
data_person = data_person.rename(columns={"求职者id": "求职者ID"})

In [32]:
data_person

,序号,求职者ID,姓名,期望岗位,性别,年龄,居住地址,工作经验,自我评价,期望薪资低,期望薪资高,工作性质,期望行业,工作地区,到岗时间,简历关键词,学历,学科专业
0,1,1630105867208753152,陈先生,"数据分析师,自然语言处理工程师,机器学习工程师",男,23,"广东省,肇庆市,广宁县",无经验,1. 熟练使用python及其相关库操作。\n2. 熟练Mysql数据库，熟悉标准SQL语句...,3000,5000,实习,"互联网,数据服务,电子商务","广东省,广州市,天河区",随时到岗,,,
1,2,1627308899029876736,张先生,"数据分析师,数据挖掘工程师,算法工程师",男,23,"河南省,郑州市,中原区",无经验,熟悉VR游戏制作，UE5虚拟引擎，精通C++、Python、matlab等编程语言。七年编程...,50000,55000,实习,"互联网,游戏,计算机软件","广东省,广州市,番禺区",随时到岗,深度学习 网页逆向分析,,
2,3,1623885034161307648,田女士,其他,女,24,"云南省,昆明市,官渡区",无经验,勤奋踏实，肯吃苦，有良好的沟通和表达能力，学习新事物能力强。语言表达清晰，有较强的逻辑思维能...,3000,4000,实习,不限,"广东省,广州市,黄埔区",随时到岗,,,
3,4,1614575985309646848,唐女士,"数据分析师,其他",女,22,"重庆市,重庆市,彭水苗族土家族自治县",无经验,个人擅长与人沟通，且有良好的抗压能力，并且能够承担相应的工作任务，吃苦耐劳，对事情比较专注，...,5000,8000,实习,不限,"重庆市,重庆市,渝中区",随时到岗,,,
4,5,1599636587363303424,胡先生,数据分析师,男,22,"广东省,广州市,天河区",无经验,具备自我独立完成任务的能力，也能很好融入集体，具有集体荣誉感以及责任感\n喜欢具有挑战性的任...,6000,11000,实习,,"广东省,深圳市,龙岗区",1个月后到岗,数据分析 python 机器学习 MySQL 自然语言处理,本科,应用统计学
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10831,10832,7539782608648597012,黎先生,"数据分析师,数据挖掘工程师",男,27,,,,4000,6000,实习,互联网,,,,,
10832,10833,7539782617238531604,钟女士,"数据分析师,数据挖掘工程师",女,24,,,,4000,6000,实习,互联网,,,,,
10833,10834,7539739663270604308,曾先生,"数据分析师,数据挖掘工程师",男,26,,,,4000,6000,实习,互联网,,,,,
10834,10835,7539739671860538900,贾女士,"数据分析师,数据挖掘工程师",女,25,,,,4000,6000,实习,互联网,,,,,
10835,10836,7539739676155506196,王先生,"数据分析师,数据挖掘工程师",男,24,,,,4000,6000,实习,互联网,,,,,

In [33]:
outputpath = 'D:/pyhton_practice/TeddyCup_C/data/result1-2.csv'
# outputpath是保存文件路径
 
data_person.to_csv(outputpath,sep=',',index=False,header=True)